# Build
**/bin/
**/obj/
**/dist/
**/node_modules/

# IDE
.vs/
.vscode/
*.user
*.suo

# Env secrets
.env
.env.production
.env.local
**/appsettings.Development.json

# OS
Thumbs.db
.DS_Store

# Logs
*.log
